.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-whatsapp {
  width: 50px; }
  .fa-facebook:hover,
  .fa-instagram:hover,
  .fa-linkedin:hover,
  .fa-whatsapp:hover {
    border: 2px solid #f3f3f3;
    -webkit-box-shadow: 0px 13px 5px 0px #363636;
    -moz-box-shadow: 0px 13px 5px 0px #363636;
    box-shadow: 0px 13px 5px 0px #363636; }

header .navbar {
  height: 6vh; }
  header .navbar ul li {
    list-style: none; }
    header .navbar ul li a {
      padding: 7px 13px;
      color: #121111;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase; }
      header .navbar ul li a:hover {
        color: #ffa0d9;
        border: 2px solid #ff46f0; }
      header .navbar ul li a:active {
        border-radius: 5px;
        color: #ff46f0; }

header .collapse {
  justify-content: center;
  background: #fafafad4;
  border-radius: 10px;
  z-index: 10; }

main {
  height: 88vh;
  width: 100%;
  background: linear-gradient(90deg, #ffc0c0 0%, #ffbfd8 52%, #ffe3f7 100%);
  overflow: scroll; }
  main .contenedorindex {
    height: 88vh;
    background: linear-gradient(90deg, #ffc0c0 0%, #ffbfd8 52%, #ffe3f7 100%); }
    main .contenedorindex .section1 {
      padding: 10px;
      text-align: center; }

.section2 {
  display: grid;
  place-items: center;
  height: 400px; }
  .section2 .btn-dark {
    float: right;
    border: none;
    border-radius: 5px; }
  .section2 .textobienvenida {
    text-align: justify;
    margin-top: 20px; }
  .section2 .titulobienvenida {
    margin-bottom: 10px; }

.imganimate {
  border-radius: 5px;
  -webkit-animation: rotate-vert-center 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

.contenedorindex .slide {
  background-color: rgba(39, 39, 39, 0.508);
  margin: auto; }
  .contenedorindex .slide .carousel-caption {
    background-color: rgba(39, 39, 39, 0.508); }
  .contenedorindex .slide .carrusel {
    max-height: 500px; }

.card {
  background: rgba(47, 47, 47, 0.598);
  color: #f0f0f0; }
  .card .card-img-top {
    width: auto;
    max-height: 300px; }

.galeria {
  background: rgba(71, 49, 81, 0.407); }

.titulo {
  text-align: center;
  color: #64396a; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

footer {
  height: 6vh;
  background-color: #242425; }
  footer .item-footer {
    padding: 0px 15px; }

.fa-facebook {
  background-color: rgba(40, 40, 170, 0.594);
  border-radius: 3px; }

.fa-instagram {
  background-color: rgba(216, 89, 169, 0.702);
  border-radius: 3px; }

.fa-whatsapp {
  background-color: rgba(42, 209, 42, 0.481);
  border-radius: 3px; }

.fa-linkedin {
  background-color: rgba(63, 105, 116, 0.612);
  border-radius: 3px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif; }
