  // acordion
  .accordion {
      .accordion-item {
          background: transparent!important;
          color: white;
          .accordion-header {
              background: transparent !important;
              color: white;
          }
          .accordion-button {
              background: $colorcontraste !important;
              color: $colorcontrastey;
              font-weight: 500;
              &:focus {
                  z-index: 3;
                  border-color: #de86fe;
                  outline: 0;
                  box-shadow: 0 0 0 0.25rem rgba(253, 13, 205, 0.25);
              }
          }
      }
  }
  
  .accordion-button:not(.collapsed) {
      color: $colorcontraste;
      background-color: #e7f1ff;
      box-shadow: inset 0 -1px 0 rgba(164, 218, 117, 0.13);
      &::after {
          background-image: url(../assets/down-arrow.png);
          transform: rotate(-180deg);
      }
  }
  
  .link {
      color: $coloractive;
      &:hover {
          color: $colorcontrastey !important;
      }
  }
  
  .blog {
      margin-top: 20px;
      padding: 20px 10px;
  }
  
  .card-blog {
      background: $coloractive;
      border: 1px solid pink;
  }
  
  .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(105, 76, 81, 0.436);
      color: white;
      text-align: center;
      opacity: 0;
      .textocard {
          p {
              padding: 10px 0;
              font-size: 16px;
              font-weight: 800;
          }
          background: $galeriabg;
      }
  }
  
  .card-overlay:hover {
      opacity: 1;
  }