footer {
    height: 6vh;
    background-color: rgb(36, 36, 37);
    .item-footer {
        padding: 0px 15px;
    }
}

$redes: ( facebook:rgba(40, 40, 170, 0.594), instagram: rgba(216, 89, 169, 0.702), whatsapp: rgba(42, 209, 42, 0.481), linkedin: rgba(63, 105, 116, 0.612), );
@each $redsocial,
$color in $redes {
    .fa-#{$redsocial} {
        background-color: $color;
        border-radius: 3px;
    }
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-whatsapp {
    @extend %iconos
}