        header {
            .navbar {
                height: auto;
                ul {
                    li {
                        list-style: none;
                        a {
                            padding: 7px 13px;
                            color: $colorcontraste;
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 600;
                            text-transform: uppercase;
                            &:hover {
                                color: $colorsecundario;
                                border: 2px solid $colorsecundario;
                            }
                            &:active {
                                border-radius: 5px;
                                color: $coloractive;
                            }
                        }
                    }
                }
            }
        }
        
        header {
            .collapse {
                justify-content: center;
                background: $fondoclaro;
                border-radius: 10px;
                z-index: 10;
            }
        }