$ancho-boton:160px;
$colorprincipal:rgb(255, 124, 244);
$colorsecundario:rgb(255, 160, 217);
$colorcontraste:rgb(100, 57, 106);
$gradiente: linear-gradient(90deg, rgba(186, 125, 172, 0.502) 0%, rgba(231, 153, 191, 0.255) 52%, rgba(251, 200, 236, 0.185) 100%);
$fondoclaro:#fafafad4;
$darkbg:#38253e;
$galeriabg: rgba(71, 49, 81, 0.407);
$fondooscuro:rgba(47, 47, 47, 0.598);
$slidebg:rgba(39, 39, 39, 0.725);
$textodark:rgb(33, 33, 33);
%iconos {
    width: 50px;
    padding: 10px;
    text-align: center;
    &:hover {
        border: 2px solid rgb(243, 243, 243);
        -webkit-box-shadow: 0px 13px 5px 0px rgba(54, 54, 54, 1);
        -moz-box-shadow: 0px 13px 5px 0px rgba(54, 54, 54, 1);
        box-shadow: 0px 13px 5px 0px rgba(54, 54, 54, 1);
        ;
    }
}